# Credentials
.env

# Python cache (tous les modules)
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Environnements virtuels
venv/
.venv/
env/

# Résultats générés
results/

# Jupyter
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/

# OS
.DS_Store
**/.DS_Store